font-family: 'Indie Flower', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Pacifico', cursive;


nav {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

li {
    list-style: none;
    margin: 0px 20px;
    
    
}

.ul-inline {
    display: flex;
}

.logo {
    width: 20vh;
}